.TodoListItem {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

label.TodoListItem__checkbox {
  margin: 0 8px 0 12px;
}

.TodoListItem__checkbox:hover div {
  border-color: #64bcae;
}

.TodoListItem__label {
  margin: 0 8px 0 0;
}

.TodoListItem__label--completed {
  color: #d3d3d3;
}

.TodoListItem__clear {
  cursor: pointer;
  font-size: 12px;
  margin-right: 12px;
}

.TodoListItem__clear:hover {
  color: #64bcae;
}
