.TodoListItem {
  display: flex;
  justify-content: center;
}

.TodoListItem__label {
  margin: 0 8px 8px 0;
}

.TodoListItem__label--completed {
  color: #d3d3d3;
}

.TodoListItem__checkbox {
  margin: 0 8px 0 0;
}

.TodoListItem__remove {
  cursor: pointer;
  font-size: 12px;
  margin-top: 4px;
}

.TodoListItem__remove:hover {
  color: #64bcae;
}
